p{
    font-size: 100%;
    background-color: rgb(156, 226, 156);
  
}
.alld{
    margin-top: 1%;
}

@media (min-width:10px) and (max-width:319px){
   p {
       background-color: peru;
    }
    
}
@media (min-width:320px) and (max-width:800px) {
    p{
        background-color: brown;
    }
}
@media (min-width:800px) and (max-width:1024px) {
    p{
        background-color:teal;
    }
}
@media (min-width:1024px) and (max-width:1440px) {
    p{
        background-color:rgb(0, 41, 128);
        color: white;
    }
}